
#header { 
    background-image: url("images/header_background.png");
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: right;
    text-shadow: 1px 1px #1d2730;
    font-size: 3em;
    line-height: 350%;
    margin: 0;
    padding: 10px;
    background-repeat: no-repeat;
}

body {
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    margin: 0;
    font-size: 17px;
    line-height: 1.5;
}

a{
    text-decoration: none;
    
}

nav {
    float: left;
    font-weight: 400;
    letter-spacing: 0.1em;
}

nav ul li{
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration-style: none;
}

nav a {
    padding: 15px;
    display: block; 
    text-decoration-style: none;
    text-decoration: none;
}  

nav a:link { 
    color: #173042; 
} 

nav a:hover, nav a:active {
    color: #0E748C;  
}

h1 { 
    font-family: Gabriela, Georgia, sans-serif;
    margin: 0;
    padding-left: 10px;
    color: #236477;
    text-align: left;
}

h4 {
    font-family: Gabriela, Georgia, sans-serif;
    margin: 0;
    padding-left: 10px;
    padding-bottom: 5px;
    text-align: left;
}

h2 {
    font-family: 'Maven Pro', Georgia, sans-serif;
    margin: 20px 0 0 10px;
}

h3 {
    margin: 0;
    padding: 0 10px;
}

p {
    margin: 0;
    padding: 20px 10px 0 10px;
}

section{
    padding-top: 15px;
}



img {
    padding: 0 10px;
    max-width: 100%;
}

footer {
    height: 50px;
    color: #ffffff;
    font-style: italic;
    font-size: 0.875em;
    text-align: left;
    padding:5px;
}

footer a {
    text-align: left;
    padding: 5px;
    display: block;
    color: #fff;
}

footer ul{
    display: inline;
}

nav ul, #lecture_1, #lecture_2, #lecture_3 {
    display: none;
}